<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key ="FileName" value="..\Data\Pr76DataSet.xml"/> 
    <add key="SwarmSize" value="100"/>
    <add key="MaxEpochs" value="20000"/>
    <add key="MinX" value="-10"/>
    <add key="MaxX" value="10"/>
    <add key="W" value="0.7"/>
    <add key="C1" value="1.4"/>
    <add key="C2" value="1.4"/>
    <add key="MaxInformers" value="5"/>
    <add key="MaxStaticEpochs" value="250"/>
    <add key="MaxGlobalError" value="1e-15"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>